{% include 'header' %}

#import <Foundation/Foundation.h>

@protocol {{ prefix }}{{ module_info.name }}ViewInput <NSObject>

/**
 @author {{ developer.name }}

 This method is responsible for configuring initial view settings
 */
- (void)setupInitialState;

@end
