{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}ViewController.h"

#import "{{ prefix }}{{ module_info.name }}ViewOutput.h"

@implementation {{ prefix }}{{ module_info.name }}ViewController

#pragma mark - VC Lifecycle

- (void)viewDidLoad {
	[super viewDidLoad];

	[self.output didTriggerViewReadyEvent];
}

#pragma mark - {{ prefix }}{{ module_info.name }}ViewInput Methods

- (void)setupInitialState {
	// setup view initial settings
}

@end
