{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}Router.h"

#import <ViperMcFlurry/ViperMcFlurry.h>

@implementation {{ prefix }}{{ module_info.name }}Router

#pragma mark - {{ prefix }}{{ module_info.name }}RouterInput methods

@end
