{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}Assembly.h"

#import "{{ prefix }}{{ module_info.name }}ViewController.h"
#import "{{ prefix }}{{ module_info.name }}ViewModel.h"
#import "{{ prefix }}{{ module_info.name }}Router.h"

#import <ViperMcFlurry/ViperMcFlurry.h>

@implementation {{ prefix }}{{ module_info.name }}Assembly

- ({{ prefix }}{{ module_info.name }}ViewController *)view{{ module_info.name }} {
    return [TyphoonDefinition withClass:[{{ prefix }}{{ module_info.name }}ViewController class]
                          configuration:^(TyphoonDefinition *definition) {
                              [definition injectProperty:@selector(output)
                                                    with:[self viewModel{{ module_info.name }}]];
                              [definition injectProperty:@selector(moduleInput)
                                                    with:[self viewModel{{ module_info.name }}]];
                          }];
}

- ({{ prefix }}{{ module_info.name }}ViewModel *)viewModel{{ module_info.name }}{
    return [TyphoonDefinition withClass:[{{ prefix }}{{ module_info.name }}ViewModel class]
                          configuration:^(TyphoonDefinition *definition) {
                              [definition injectProperty:@selector(view)
                                                    with:[self view{{ module_info.name }}]];
                              [definition injectProperty:@selector(router)
                                                    with:[self router{{ module_info.name }}]];
                          }];
}

- ({{ prefix }}{{ module_info.name }}Router *)router{{ module_info.name }}{
    return [TyphoonDefinition withClass:[{{ prefix }}{{ module_info.name }}Router class]
                          configuration:^(TyphoonDefinition *definition) {
                              [definition injectProperty:@selector(transitionHandler)
                                                    with:[self view{{ module_info.name }}]];
                          }];
}

@end
