{% include 'header' %}

#import <Foundation/Foundation.h>
#import <ViperMcFlurry/ViperMcFlurry.h>

@protocol {{ prefix }}{{ module_info.name }}ModuleInput <RamblerViperModuleInput>

/**
 @author {{ developer.name }}

 This method is responsible for module configuration
 */
- (void)configureModule;

@end
