{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}ViewOutput.h"
#import "{{ prefix }}{{ module_info.name }}Input.h"

@protocol {{ prefix }}{{ module_info.name }}ViewInput;
@protocol {{ prefix }}{{ module_info.name }}RouterInput;

@interface {{ prefix }}{{ module_info.name }}ViewModel : NSObject <{{ prefix }}{{ module_info.name }}Input, {{ prefix }}{{ module_info.name }}ViewOutput>

@property (nonatomic, weak) id<{{ prefix }}{{ module_info.name }}ViewInput> view;
@property (nonatomic, strong) id<{{ prefix }}{{ module_info.name }}RouterInput> router;

@end
