{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}ViewModel.h"

#import "{{ prefix }}{{ module_info.name }}Input.h"
#import "{{ prefix }}{{ module_info.name }}RouterInput.h"

@implementation {{ prefix }}{{ module_info.name }}ViewModel

#pragma mark - Методы {{ prefix }}{{ module_info.name }}Input

- (void)configureModule {
    // Стартовая конфигурация модуля, не привязанная к состоянию view
}

#pragma mark - Методы {{ prefix }}{{ module_info.name }}ViewOutput

- (void)didTriggerViewReadyEvent {
	[self.view setupInitialState];
}

@end
